<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/" ><img src="/assets/logo/FreedomClassicsWeb_BlueBG.png" /></a>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item {{ispage about/index}}active{{end}}" href="/about/">About</a>
      <details>
        <summary style="color: #fff;">Inventory</summary>
          <ul>
            <li><a class="sidebar-nav-item {{ispage inventory/index}}active{{end}}" href="/inventory/">Show Room</a></li>
            <li><a class="sidebar-nav-item {{ispage inventory/1966-chevy-c-10-gold/*}}active{{end}}" href="/inventory/1966-chevy-c-10-gold/">1966 Chevy C-10 (Gold)</a></li>
            <li><a class="sidebar-nav-item {{ispage inventory/1966-chevy-c-10-yellow/*}}active{{end}}" href="/inventory/1966-chevy-c-10-yellow/">1966 Chevy C-10 (Yellow)</a></li>
            <li><a class="sidebar-nav-item {{ispage inventory/1967-chevy-ii-gold/*}}active{{end}}" href="/inventory/1967-chevy-ii-gold/">1967 Chevy II (Gold)</a></li>
            <li><a class="sidebar-nav-item {{ispage inventory/1967-chevelle-butternut/*}}active{{end}}" href="/inventory/1967-chevelle-butternut/">1967 Chevelle (Butternut)</a></li>
            <li><a class="sidebar-nav-item {{ispage inventory/1971-chevy-c-10-orange-white/*}}active{{end}}" href="/inventory/1971-chevy-c-10-orange-white/">1971 Chevy C-10 (Orange & White)</a></li>
            <li><a class="sidebar-nav-item {{ispage inventory/1965-chevy-c-10-red/*}}active{{end}}" href="/inventory/1965-chevy-c-10-red/">1965 Chevy C-10 (Red)</a></li>
            <li><a class="sidebar-nav-item {{ispage inventory/1980-datsun-280zx-red/*}}active{{end}}" href="/inventory/1980-datsun-280zx-red/">1980 Datsun 280 ZX (Red)</a></li>
            <li><a class="sidebar-nav-item {{ispage inventory/1967-mercedes-230-sl-red/*}}active{{end}}" href="/inventory/1967-mercedes-230-sl-red/">1967 Mercedes 230 SL (Red)</a></li>
            <li><a class="sidebar-nav-item {{ispage inventory/1960-chevy-impala-red/*}}active{{end}}" href="/inventory/1960-chevy-impala-red/">1960 Chevy Impala (Red)</a></li>
            <li><a class="sidebar-nav-item {{ispage inventory/1964-triumph-sunbeam-tiger-green/*}}active{{end}}" href="/inventory/1964-triumph-sunbeam-tiger-green/">1964 Triumph Sunbeam Tiger (Green)</a></li>
            <li><a class="sidebar-nav-item {{ispage inventory/1954-rare-chevy-belair-sierra-gold/*}}active{{end}}" href="/inventory/1954-rare-chevy-belair-sierra-gold/">1954 (RARE) Chevy BelAir Convertible (Sierra Gold)</a></li>
            <li><a class="sidebar-nav-item {{ispage inventory/1987-land-rover-defender-110-black/*}}active{{end}}" href="/inventory/1987-land-rover-defender-110-black/">1987 Land Rover Defender 110 (Black)</a></li>
            <li><a class="sidebar-nav-item {{ispage inventory/1967-chevelle-convert-blue/*}}active{{end}}" href="/inventory/1967-chevelle-convert-blue/">1967 Chevy Chevelle Convertible (Blue)</a></li>
          </ul>
      </details>
    </nav>
    <!-- <p>&copy; {{fill author}}.</p> -->
  </div>
</div>
<div class="content container">
